<div>
    <div class="flex w-full justify-between items-center">
        <button *ngIf="this.slideConfig.showLeftRightArrow" (click)="prev()" class="w-8 sm:w-10 sm:h-10 h-8 rounded-full flex bg-white text-slate-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 sm:w-6 h-5 sm:h-6 m-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />
            </svg>
        </button>
        <div #slideContainer class="w-full overflow-hidden">
            <ul #slider class="flex transition-all duration-300" [style.width.px]="this.sliderWidth"
                [style.marginLeft.px]="this.sliderMarginLeft">
                <li class="cursor-pointer" (click)="this.onSelect.emit(category)" [style.width.px]="this.slideWidth"
                    *ngFor="let category of this.getItems()">
                    <ng-content *ngTemplateOutlet="template || defaultTemplate;
                context:{$implicit:category}"></ng-content>
                </li>
            </ul>
        </div>
        <button *ngIf="this.slideConfig.showLeftRightArrow" (click)="next()" class="w-8 sm:w-10 sm:h-10 h-8 rounded-full flex bg-white text-slate-800">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 sm:w-6 h-5 sm:h-6 m-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg>
        </button>
    </div>
    <div *ngIf="this.slideConfig.showDots && this.dots.length>1" class="flex justify-center mt-10">
        <ul class="flex gap-2">
            <li (click)="move(i+1)" *ngFor="let dot of dots;let i=index" >
                <span class="w-4 h-4 rounded-full bg-emerald-600 {{i+1===this.activeSlideID?'':'bg-opacity-20'}} flex"></span>
            </li>
        </ul>
    </div>
</div>

<ng-template #defaultTemplate let-item let-width="slideWidth">
    <div
        class="mx-5 rounded-2xl px-5 py-5 text-slate-800 font-semibold text-center border-2 border-emerald-800 border-opacity-10">
        {{item}}
    </div>
</ng-template>