<section class="bg-emerald-600 mt-24 py-24 relative overflow-hidden">
    <div class="opacity-10 rounded-full border-2 border-white xl:w-[35rem] xl:h-[35rem] w-96 h-96 absolute top-0 left-0  xl:-top-64"></div>
    <div class="opacity-10 rounded-full border-2 border-white xl:w-[35rem] xl:h-[35rem] w-96 h-96 absolute bottom-0 right-0 xl:-bottom-64 xl:right-0"></div>
    <div class="opacity-10 rounded-full border-2 border-white xl:w-[35rem] xl:h-[35rem] w-96 h-96 absolute -top-[50%] left-[40%] xl:-bottom-96 xl:left-96"></div>
    <div class="opacity-10 rounded-full border-2 border-white xl:w-[35rem] xl:h-[35rem] w-96 h-96 absolute -bottom-[50%] right-[40%] xl:-top-64 xl:right-96"></div>
    <div class="container mx-auto flex flex-wrap lg:flex-nowrap items-center">
        <div class="w-full lg:w-1/2 text-white pr-5">
            <div class="max-w-2xl">
                <p class="text-xl font-medium mb-3">Ready to start?</p>
                <h3 class="text-3xl md:text-4xl font-medium">
                    Download our mobile app. for easy to start your course.
                </h3>
            </div>
        </div>
        <div class="relative w-full mt-10 lg:mt-0 lg:w-1/2 flex flex-wrap md:flex-nowrap items-center gap-5 lg:justify-end">
            <img class="hidden 2xl:block z-0 absolute -left-10 animate-leftRight animate-infinite animate-duration-[3000ms]"
                src="../../../assets/shapes/shape-14.png" alt="">
            <a class="z-10 border-8 border-white border-opacity-10 rounded-xl" href="">
                <img class=" rounded-lg bg-white p-4 px-10" src="../../../assets/images/google-play.webp" alt="">
            </a>
            <a class="z-10 border-8 border-white border-opacity-10 rounded-xl" href="">
                <img class=" rounded-lg bg-white p-4 px-10" src="../../../assets/images/app-store.webp" alt="">
            </a>
        </div>
    </div>
</section>