<div class="flex justify-between items-center text-slate-500 font-light">
    <div class="flex gap-1 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="w-5 h-5 text-emerald-600">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <p>{{course.hours}}</p>
    </div>
    <div class="flex gap-1 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
            class="w-5 h-5 text-emerald-600">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
        </svg>
        <p>{{course.lectures}} Lectures</p>
    </div>
</div>
<div class="flex items-center justify-between mt-3 p-5 bg-emerald-50 rounded-2xl">
<p class="text-xl text-emerald-600 font-semibold">
    <span *ngIf="course.offerPrice===null">{{course.price===0?'FREE':'$'+course.price}}</span>
    <span *ngIf="course.offerPrice!==null">
        ${{course.offerPrice}} 
        <span class="pl-3 text-slate-600 line-through">${{course.price}}</span>
    </span>
</p>
<app-rating [value]="course.rating"></app-rating>
</div>