<section class="pt-24">
    <app-heading
    class="mb-16 block"
    subHeading="Student Testimonial"
    headingText1="Feedback From"
    headingText2="Student"
    specialHeadingID="2"
    ></app-heading>
    <div class="container mx-auto">
        <app-slider *ngIf="this.feedbacks.length>0" [items]="this.feedbacks" [slideConfig]="this.slideConfig">
            <ng-template #template let-item>
                    <app-feedback-card [item]="item"></app-feedback-card>
            </ng-template>
        </app-slider>
    </div>
</section>