<ul class="list-group-flush px-0 vh-100 overflow-auto " >
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Kiwifruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Kekab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Chiken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Ice cream</a>
    </li>
</ul>