<section class="pt-24">
    <app-heading class="mb-16 block" subHeading="Over 1,235+ Courses" headingText1="How It" headingText2="Works" specialHeadingID="2">
    </app-heading>
    <div class="container mx-auto">
        <ul class="flex flex-wrap lg:flex-nowrap">
            <li class="flex w-full lg:w-auto py-5 lg:py-0">
                <div class="w-full rounded-2xl bg-emerald-50 p-10 group relative">
                    <img src="../../../assets/shapes/shape-15.png" class="absolute top-0 left-0 z-10" alt="">
                    <p
                        class="z-10 relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="m-auto w-10 h-10 text-emerald-600 group-hover:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </p>
                    <h3 class="z-10 relative mb-4 text-3xl font-medium text-slate-800">
                        Find Your Course
                    </h3>
                    <p class="z-10 relative text-slate-800 text-opacity-50">
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </li>
            <li class="hidden lg:flex p-2 lg:px-5 2xl:px-10">
                <img class="m-auto w-24" src="../../../assets/shapes/shape-17.png" alt="">
            </li>
            <li class="flex w-full lg:w-auto py-5 lg:py-0">
                <div class="w-full rounded-2xl bg-emerald-50 p-10 group relative overflow-hidden">
                    <img src="../../../assets/shapes/shape-15.png" class="absolute top-0 -right-10 z-10" alt="">
                    <p
                        class="z-10 relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="m-auto w-10 h-10 text-emerald-600 group-hover:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75" />
                        </svg>
                    </p>
                    <h3 class="z-10 relative mb-4 text-3xl font-medium text-slate-800">
                        Book A Seat
                    </h3>
                    <p class="z-10 relative text-slate-800 text-opacity-50">
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </li>
            <li class="hidden lg:flex p-2 lg:px-5 2xl:px-10">
                <img class="m-auto w-24" src="../../../assets/shapes/shape-17.png" alt="">
            </li>
            <li class="flex w-full lg:w-auto py-5 lg:py-0">
                <div class="w-full rounded-2xl bg-emerald-50 p-10 group relative overflow-hidden">
                    <img src="../../../assets/shapes/shape-16.png" class="absolute -bottom-5 -right-5 z-10" alt="">
                    <p
                        class="z-10 relative shadow-md mb-8 w-16 h-16 flex rounded-xl bg-white group-hover:bg-emerald-600 border border-emerald-800 border-opacity-20">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="m-auto w-10 h-10 text-emerald-600 group-hover:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                        </svg>
                    </p>
                    <h3 class="z-10 relative mb-4 text-3xl font-medium text-slate-800">
                        Get Certificate
                    </h3>
                    <p class="z-10 relative text-slate-800 text-opacity-50">
                        It has survived not only centurie also leap into electronic.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>