<section class="pt-24">
    <div class="container mx-auto px-5 sm:px-24 xl:px-10 2xl:px-0">
        <div class="relative bg-emerald-50 rounded-3xl py-10 px-0 md:px-10 xl:px-24">
            <img class="animate-twSpin animate-infinite animate-duration-[5000ms] absolute bottom-8 left-8" src="../../../assets/shapes/shape-12.png" alt="">
        <img class="animate-twSpin animate-infinite animate-duration-[5000ms] absolute top-8 right-8" src="../../../assets/shapes/shape-12.png" alt="">
        <div class="flex flex-wrap md:flex-nowrap items-center">
            <div class="flex w-full md:w-3/5 xl:w-1/2">
                <app-heading class="mx-auto md:mx-0 py-5 pb-10 block max-w-sm" subHeading="Become A Instructor" headingText1="You can join with Edule as"
                    headingText2="a instructor?" specialHeadingID="2" align="L">
                </app-heading>
            </div>
            <div class="w-full md:w-2/5 xl:w-1/2 flex items-center">
                <div class="xl:w-1/2 xl:block hidden">
                    <img class="w-[70%]" src="../../../assets/shapes/shape-13.svg" alt="">
                </div>
                <div class="xl:w-1/2 w-full flex">
                    <app-button class="block mx-auto md:ml-auto" name="Drop Information" size="L" shade="D" animation="C"></app-button>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>